<footer>
    <div class="footer-text" id="whats-new-footer">
        <h3>What's New</h3>
        <div class="footer-anchors">
            <a href="../HTML/Indian.html">The Indian Collection</a>
            <a href="../HTML/Indian.html">The Vintage Collection</a>
            <a href="../HTML/Indian.html">The Egyptian Collection</a>
            <a href="../HTML/Indian.html">The Middle-Eastern Collection</a>
        </div>
    </div>
    <div class="footer-text">
        <h3>Customer Care</h3>
        <div class="footer-anchors">
            <a href="../HTML/contact-us-form.html">Send Us A Message</a>
            <a href="../HTML/Contact-Us.html">Contact Us</a>
        </div>
    </div>
    <div class="footer-text">
        <h3>Social</h3>
        <div class="footer-anchors">
            <a href="">Instagram</a>
            <a href="">Facebook</a>
        </div>
    </div>
</footer>