<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/collections.css">
    <link rel="stylesheet" href="/CSS/nav-bar.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/nav-bar.js"></script>
    <title>Landing Page</title>
</head>
<body>
    <%- include('./partials/Nav-bar.ejs') %>

    <section class="main" id="main">
        <video src="/videos/Collections/collections-video.mp4" id="video-background" autoplay loop muted></video>
        <div class="main-text">
            <h1>Discover the real you</h1>
            <a  class="button" href="/">TAKE THE QUIZ</a>
        </div>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>