<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indian</title>
    <link rel="stylesheet" href="/CSS/Landing-page.css">
    <link rel="stylesheet" href="/CSS/nav-bar-white.css">
    <link rel="stylesheet" href="/CSS/Footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="/Javascript/Landing-page.js"></script>
    <script src="/Javascript/nav-bar.js"></script>
</head>
<body>
    <%- include('./partials/Nav-bar.ejs') %>
    

</body>
</html>