<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/main.css">
    <title>Admin homepage</title>

</head>

<body>



    <section class="main-section">
        <video id="video-background" autoplay loop muted>
            <source src="/videos/Admin/video.mp4" type="video/mp4">
        </video>



        <table>
            <tr>
                <th class="first">
                    <h2>$8430</h2> <br>

                </th>
                <th class="second">
                    <h2>140</h2> <br>

                </th>
                <th class="third">
                    <h2>500</h2> <br>

                    </td>
                <th class="forth">
                    <h2>5</h2> <br>

                </th>
            </tr>
            <tr>
                <td>
                    <h4>Revenue last 30 days</h4>
                </td>
                <td>
                    <h4>Orders last 30 days</h4>
                </td>
                <td>
                    <h4>Site visits last 30 days</h4>
                </td>
                <td>
                    <h4>Products out of stock</h4>
                </td>
            </tr>
        </table>

    </section>

    <section class="layout-section">
        <div class="button-container">

            <div class="admin-button">

                <button class="collection-button" onclick="window.location.href = '/AddCollection';">Add Collection

                </button>
            </div>

            <div class="admin-button">

                <button class="collection-button" onclick="window.location.href = '/EditCollection';">Edit
                    Collection

                </button>
            </div>

            <div class="admin-button">

                <button class="collection-button" onclick="window.location.href = 'edit-layout.html';">Edit Layout

                </button>
            </div>

        </div>
    </section>

</body>

</html>