
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: top;
    overflow: hidden;
}

#video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
    z-index: -1; 
}

.main h1 {
    margin-bottom: 20px;
    font-size: 1.75rem;
    line-height: 2.75rem;
    font-weight: 600;
    font-family: 'Futura PT';
    text-transform: uppercase;
    color:#F6E8C0;
}

.main-text {
    margin-top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    border: .0625rem solid #FFFFFF;
    background-color: transparent;
    color: #fff;
    font-family: futura-pt, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .0625rem;
    line-height: 1.625rem;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: .75rem 1.875rem;
    text-transform: uppercase;
    transition: background-color ease-in-out .2s;
    text-decoration: none;
}